th, td {
    padding: 10px;
    text-align: left;
}

h1 {
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font: 12px system-ui;
}

.center_div {
    width: 50%;
    margin: 0 auto;
}